body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow: hidden;
}


.default{
    background-color: rgba(12, 12, 12, 0.397);
}

.topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    position: relative;
    right: 5rem;
}

.dark{
    background: #1B262C !important;
}

.light{
    background-color: #C9D6DF !important;
}

.lightText{
    color: #C9D6DF !important;
}

.usedWords{
    display: flex;
    align-items: center;
    padding: .5rem;
    height: 2rem;
    width: 30rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
}

.history h1{
    margin-bottom: 0;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background:linear-gradient(320deg,#EEF2FF ,#EEF2FF);
}

.topContainer{
    margin: 0rem 0rem 0rem 2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.bgcolor{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border:solid black;
    background-color: #1B262C;
    cursor: pointer;
}

.theGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.chances{
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 3rem;
    color:#1B262C;
}

.chances h1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 4rem;
}

.play-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.block-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.box{
    display: flex;
    border: solid 2px black;
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 4px 2px rgba(26, 26, 26, 0.562);
    border: 4px solid rgb(0, 0, 0);
    background-color:#11171aec;
    align-items: center;
    justify-content: center;
    color: #F0F5F9;
    font-size: 1.5rem;
    font-weight: 600;
}


.userInput{
    border: solid 1px black;
    padding: 0rem 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: .2rem;
}

.userInput input{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 3rem;
    width: 5rem;
    font-size: 36px;
    font-weight: 700;
    text-indent: 35%;
    outline: 0px;
    border-width: 0 0 2px;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgba(12, 12, 12, 0.486)
}

.EnterBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.current {
    width: 2rem;
    height: 2rem;
}

.green{
    background-color: #17B978;
}
.enter{
    padding: 1rem 4rem;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .7rem;
    border-radius: 1px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}
.enter:hover{
    background-color: #1B262C;
    color:#C9D6DF;
}


.wrong{
    color: red;
}

.hidden{
    display: none !important;
}

.gameWon.show{
    display: block;
    color: rgb(45, 248, 0);
    font-size: 6rem;
}

.gameOver.show{
    display: block;
    color: rgb(168, 4, 4);
    font-size: 6rem;
}

.default{
    background-color: rgba(12, 12, 12, 0.397)
}

.white{
    background-color:#EEF2FF !important;
}

.black{
    background-color: #1B262C;
}

.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.warning h2{
    font-size: 16px;
    text-transform: uppercase;
}

.warning img{
    width: 1rem;
    height: 1rem;
}