@font-face { font-family: Homepage; src: url('./ELNATH.ttf'); } 
@font-face { font-family: Main; src: url('./font1.otf'); } 

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Main;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f2d60;
    height: 100vh;
    width: 100vw;
}

/* color schemes & themes */
.default{
    background-color: rgba(12, 12, 12, 0.397);
}

.dark{
    background: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
}

.light{
    background-color: #C9D6DF !important;
}

.lightText{
    color: #C9D6DF !important;
}

.green{
    background-color: #17B978 !important;
}

.wrong{
    color: #F05454 ;
}

.hidden{
    display: none !important;
}

.gameWon.show{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #046935;
    font-size: 6vw;
}

.gameWon #backbtn{
    color: white;
}

.gameOver.show{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(176, 23, 23);
    font-size: 6vw;
}

.gameOver #backbtn{
    color: white;
}

.default{
    background-color: rgba(12, 12, 12, 0.397)
}

.white{
    background-color:#EEF2FF !important;
}

.black{
    background-color: #1B262C;
}

#DarkTheme{
    margin-left: 1.7rem;
}

.current {
    width: 2rem;
    height: 2rem;
}



/*                 Section Heirarchy             */

.topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem 0rem 1.5rem;
    width: 100%;
}

.toggle {
    border: 1px solid #1B262C;
    display: flex;
    height: 1rem;
    width: 3rem;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    background-color: #8d78b378;
    align-items: center;
    box-shadow: 0 17px 19px 0 rgba(0, 0, 0, 0.2), 0 16px 120px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.circle{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border:solid black;
    background-color: #1B262C;
    cursor: pointer;
}

.circle2{
    position: absolute;
    right: .3rem;
}

.history{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    position: relative;
    right: 5rem;
}

.history h1{
    font-size: 2vw;
    margin-bottom: 0;
}

.usedWords{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    max-height: 1.5rem;
    width: 30vw;
    background-color:transparent;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: 600;
    margin-top: 0;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 85vw;
    max-height: 95vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #8EC5FC;
    background-image: linear-gradient(to right, #9d81f2, #93afdd); 
    overflow: hidden;
    position: relative;
}

#--reflect{
    position: absolute;
    width: 40%;
    height: 100%;
    left: -150%;
    transition: 0.8s;
    transform: skewX(20deg);
    background-color: rgba(245, 238, 238, 0.355);
    z-index: 1;
}

.main:hover #--reflect{
    left: 150%;
}

.main:hover{
    box-shadow: 0 30px 35px rgba(0,0,0,0.7);
}

.mainContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.gaming-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.theGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

.chances{
    width: 82%;
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#1B262C;
    box-shadow: 0 17px 19px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 0rem 5rem;
}

.chances h1{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 0rem 4rem;
    font-size: 3vw;
    color:black;
}

.play-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.block-container{
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
}

.blank{
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    display: none !important;
}

.word-block{
    display: flex;
    justify-content: center;
    gap:1vw;
    flex-wrap: wrap;
}

.box{
    display: flex;
    border: solid 2px black;
    padding: 2rem 3rem;
    width: 5vw;
    box-shadow: 0px 4px 2px rgba(26, 26, 26, 0.562);
    border: 4px solid rgb(0, 0, 0);
    background-color:#11171aec;
    align-items: center;
    justify-content: center;
    color: #F0F5F9;
    font-size: 1.5rem;
    font-weight: 600;
}

.userInput{
    border: solid 3px black;
    padding: 1rem 4vw;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: .2rem;
    box-shadow: 0 17px 19px 0 rgba(0, 0, 0, 0.2), 0 16px 120px 0 rgba(0, 0, 0, 0.19);
}

.userInput h1{
    font-size: 3vw;
    margin: 0;
}

.userInput input{
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 5rem;
    font-size: 36px;
    font-weight: 700;
    text-indent: 35%;
    outline: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid black;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgba(12, 12, 12, 0.486);
    z-index: 2;
}


.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.warning h2{
    font-size: 16px;
    text-transform: uppercase;
}

.warning img{
    width: 1rem;
    height: 1rem;
}


/*                     after win or lost              */

.after{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.result h1{
    margin-bottom: 2rem;
}

.result h2{
    font-size: 5vw;
    margin: auto 0;
}


#backbtn:hover{
    font-weight: 600;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newDiv {
    width: 100%;
    border-radius: 15px;
    padding: 15rem 0rem;
    background-color: #8983b1;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

.newDiv #backbtn{
    color:#edf5e1;
    font-size: 4vw;
}
.newDiv h2{
    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    margin-bottom: 0;
}
/*                     hOMEpage            */

.homepage {
    display: flex;
    font-family: Homepage !important;
    align-items: center;
    justify-content: center;
    background-color: #111113;
    height: 100vh;
    width: 100vw;
}

.homepage h1{
    font-size: 8vw;
    letter-spacing: 1.2rem;
    background: #c3073f;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:none;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #342d4a;
    word-spacing: 1rem;
    margin-top: -5rem;
    font-size: 1vw;
    letter-spacing: 1.5rem;
}

.homepage h2{
    font-size: 7.5vw;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    cursor: pointer;
}

#play{
    margin-top: -5rem;
}

#play h2{
    margin: 0;
}

.homepage h2:hover{
   
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #edf5e1;
}

.rightPage{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    flex-wrap: wrap;
    padding: 1rem;
}

.rightPage h3{
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    position: absolute;
    left: 0.5rem;
    font-size: 12px
}

.leftPage{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #1c1c1e;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text h3{
    font-size: 18px;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}
    

.homepage span{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

.container{
    padding: 3.5rem 0rem;
    border-bottom: 2px solid #edf5e1;
}

#rules{
    border-bottom: 0px;
}

.challengeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.challengeSection input{
    width: 40vw;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    outline: none;
    border-width: 0 0 2px;
    background: transparent;
    margin-top: 3rem;
    font-size: 2vw;
    text-align: center;
    letter-spacing: .1rem;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

.challengeSection input::placeholder{
    color: #edf5e1 ;
    font-size: 20px;
}


#play,#challenge{
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
}

.container h2{
    font-size: 3vw;
}

.ruleSection{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #edf5e1;
    flex-direction: column;
    border-radius: 0px -10px 0px 0px;
    width: 80vw;
    height: 80vh;
    padding: 3rem;
    font-family:Arial, Helvetica, sans-serif;
}


.row{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.row img{
    height: 10vh;
    width: 32vw;
    padding-top: 1rem;
}

.col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col h2{
    background: #111113;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin-bottom: 0;
    font-size: 1.7vw;
}

.col p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    width: 40vw;
}

#greenText{
    background: #064d35;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    font-weight: 600;
}

#redText{
    background: #c3073f;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    font-weight: 600;
}

.close{
    margin-bottom: 0;
}

.close h3{
    font-size: 30px;
    font-style: bold;
    position: absolute;
    top: -1.9rem;
    left: 0rem;
    cursor: pointer;
    background-color:#c3073f;
    padding: 0rem .5rem;
}

#playChallenge{
    text-decoration: none;
}

#playChallenge h2{
    font-size: 7vw;
    margin: 0;
}




.warningHome{
    margin-top: 2rem;
}

.warningHome p{
    color: #c3073f;
    text-align: center;
}

/*             text positions               */

#bahubali{
    position: absolute;
    left: 4rem;
    top: 16rem;
}

#october{
    position: absolute;
    left: 10rem;
    top: 24rem;
}

#lagaan{
    position: absolute;
    left: 16rem;
    top: 16rem;
}

#ludo{
    position: absolute;
    left: 23rem;
    top: 24rem;
}

#yuva{
    position: absolute;
    left: 27rem;
    top: 16rem;
}

#welcome{
    position:absolute;
    left: 33rem;
    top: 24rem;
}

#om{
    position: absolute;
    left: 39rem;
    top: 16rem;
}

#omg{
    position: absolute;
    left: 47rem;
    top: 24rem;
}

#don{
    position: absolute;
    left: 58rem;
    top: 16rem;
}


@media screen and (max-width:1000px) {

    .main{
        padding: 10rem 1rem;
    }

    .mainContainer{
        padding: 4rem 0rem
    }

    .homepage h1{
        letter-spacing: 0.2rem;
    }

    .container h2{
        font-size: 3.5vw;
    }

    .rightPage{
        width: 60vw;
    }

    .leftPage{
        width: 40vw;
    }

    .challengeSection input::placeholder{
        font-size: 16px;
    }

    .chances{
        padding: 1rem 3rem;
    }

    .userInput{
        padding: 1rem 3rem;
    }

    /*Main...........*/
    .box{
        padding: 0.8rem 1.8rem;
    }

    .block-container{
        gap: 8vw;
    }

    
}



@media screen and (max-width:450px) {

    .title p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #342d4a;
        font-size: 3vw;
        margin: 0;
        word-spacing: 0;
        letter-spacing: 0.5rem;
    }

    .theGame{
        gap: 10vw;
    }
    
    .main{
        width: 90vw;
        padding: 6rem 0rem;
        border: 4px solid black;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .mainContainer{
        padding: 2rem 0rem;
    }

    .history{
        right: 3rem;
    }

    .homepage{
        flex-direction: column;
    }

    .rightPage h1{
        font-size: 11vw;
    }
    
    .leftPage{
        width: 100%;
        margin-top: -10rem
    }

    .container{
        padding: 1.5rem 0rem;
        width:70%;
    }

    .container h2{
        font-size: 7vw;
    }

    #play{
        text-align: left;
    }

    .col p{
        font-size: 12px;
    }

    .row{
        gap: 1rem;
    }

    .ruleSection{
        width: auto;
        padding: 1.5rem;
    }

    .close h3{
        font-size: 4vw;
        top: -1rem;
    }

    #tag{
        display: none;
    }

    .box{
        padding: 0.5rem 1.2rem;
    }

    .chances{
        width: 100%;
        padding: 0rem ;
    }

    .block-container{
        gap: 8vw !important;
        padding: 2rem 0rem;
    }

    .chances h1{
        font-size: 9vw !important;
    }

    .userInput h1{
        font-size: 9vw !important;
    }

    .history h1{
        font-size: 6vw;
    }

    .usedWords{
        width: 40vw;
    }

    .word-block{
        justify-content: start;
        gap: 1vw;
    }

    .userInput{
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding: 1rem 3rem;
    }

    .challengeSection input{
        font-size: 3vw;
    }
    #playChallenge h2 {
        font-size: 15vw;
        margin: 0;
    }

    .result{
        padding: 10rem 0rem;
    }

    .result h1{
        font-size: 14vw;
    }

    .result h2{
        font-size: 10vw;
    }
    .newDiv #backbtn {
        font-size: 11vw;
    }

    .topContainer{
        margin: 2rem 0rem 0rem 2rem;
    }

    .newDiv {
        width: 100%;
        padding: 10rem 0rem;

    }

    .gaming-section{
        width: 100%;
    }
    
}