@font-face { font-family: Future; src: url('./ELNATH.ttf'); } 

body{
    margin: 0;
    padding: 0;
    font-family: Future;
    overflow: hidden;
}

/* color schemes & themes */
.default{
    background-color: rgba(12, 12, 12, 0.397);
}

.dark{
    background:linear-gradient(130deg,#252B48,#445069) !important;
}

.light{
    background-color: #C9D6DF !important;
}

.lightText{
    color: #C9D6DF !important;
}

.green{
    background-color: #17B978 !important;
}

.wrong{
    color: #F05454 ;
}

.hidden{
    display: none !important;
}

.gameWon.show{
    display: flex;
    align-items: center;
    color: #03C988;
    font-size: 6rem;
}

.gameOver.show{
    display: flex;
    align-items: center;
    color: rgb(168, 4, 4);
    font-size: 6rem;
}

.default{
    background-color: rgba(12, 12, 12, 0.397)
}

.white{
    background-color:#EEF2FF !important;
}

.black{
    background-color: #1B262C;
}

#DarkTheme{
    margin-left: 1.7rem;
}

.current {
    width: 2rem;
    height: 2rem;
}



/*                 Section Heirarchy             */

.topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 0rem 0rem 2rem;
    width: 100%;
}

.toggle {
    border: 1px solid #1B262C;
    display: flex;
    height: 1rem;
    width: 3rem;
    padding: 0.35rem 0.2rem;
    border-radius: 25px;
    background-color: hsl(223, 50%, 87%);
    align-items: center;
}

.circle{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border:solid black;
    background-color: #1B262C;
    cursor: pointer;
}

.history{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    position: relative;
    right: 5rem;
}

.history h1{
    font-size: 3vw;
    margin-bottom: 0;
}

.usedWords{
    display: flex;
    align-items: center;
    padding: .5rem;
    height: 2rem;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 3vw;
    font-weight: 600;
    margin-top: 0;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background:linear-gradient(320deg,#DCD6F7,#DBE2EF);
    overflow: hidden;
}

.mainContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.theGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.chances{
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3vh 3vh;
    color:#1B262C;
}

.chances h1{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    font-size: 5vw;
    color:black;
}

.play-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.block-container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
}

.blank{
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 1rem !important;
}

.word-block{
    display: flex;
    justify-content: center;
    gap:2vw;
}

.box{
    display: flex;
    border: solid 2px black;
    width: 6vw;
    height: 13vh;
    box-shadow: 0px 4px 2px rgba(26, 26, 26, 0.562);
    border: 4px solid rgb(0, 0, 0);
    background-color:#11171aec;
    align-items: center;
    justify-content: center;
    color: #F0F5F9;
    font-size: 1.5rem;
    font-weight: 600;
}

.userInput{
    border: solid 1px black;
    padding: 0rem 4vw;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: .2rem;
}

.userInput h1{
    font-size: 3vw;
}

.userInput input{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 3rem;
    width: 5rem;
    font-size: 36px;
    font-weight: 700;
    text-indent: 35%;
    outline: 0px;
    border-width: 0 0 2px;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgba(12, 12, 12, 0.486)
}


.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.warning h2{
    font-size: 16px;
    text-transform: uppercase;
}

.warning img{
    width: 1rem;
    height: 1rem;
}


/*                     after win or lost              */

.after{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.result h1{
    margin-bottom: 2rem;
}

.result h2{
    font-size: 5vw;
    margin: auto 0;
}

#backbtn{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#backbtn:hover{
    font-weight: 600;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result h1{
    font-size: 15vw;
}

.newDiv{
   width: 100%;
   height: 50%;
   background-color: #1c1c1e;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.newDiv #backbtn{
    color:#edf5e1; ;
    position: static;
    font-size: 4rem;
}
.newDiv h2{
    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    margin-bottom: 0;
}
/*                     hOMEpage            */

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111113;
    height: 100vh;
}

.homepage h1{
    font-size: 8vw;
    letter-spacing: 1.2rem;
    background: #c3073f;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:none;
}

.homepage h2{
    font-size: 7.5vw;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    cursor: pointer;
}

#play{
    margin-top: -5rem;
}

#play h2{
    margin: 0;
}

.homepage h2:hover{
   
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #edf5e1;
}

.rightPage{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    flex-wrap: wrap;
    padding: 1rem;
}

.rightPage h3{
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    position: absolute;
    left: 0.5rem;
    font-size: 12px
}

.leftPage{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #1c1c1e;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text h3{
    font-size: 18px;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}
    

.homepage span{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

.container{
    padding: 3.5rem 0rem;
    border-bottom: 2px solid #edf5e1;
}

#rules{
    border-bottom: 0px;
}

.challengeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    flex-direction: column;
}

.challengeSection input{
    width: 40vw;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    outline: none;
    border-width: 0 0 2px;
    background: transparent;
    margin-top: 3rem;
    font-size: 2vw;
    text-align: center;
    letter-spacing: .1rem;
    background: #edf5e1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

.challengeSection input::placeholder{
    color: #edf5e1 ;
    font-size: 20px;
}


#play,#challenge{
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-family: Future;
}

.container h2{
    font-size: 3vw;
}

.ruleSection{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #edf5e1;
    flex-direction: column;
    border-radius: 0px -10px 0px 0px;
    width: 80vw;
    height: 80vh;
    padding: 3rem;
    font-family:Arial, Helvetica, sans-serif;
}


.row{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.row img{
    height: 10vh;
    width: 32vw;
    padding-top: 1rem;
}

.col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col h2{
    background: #111113;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin-bottom: 0;
    font-size: 1.7vw;
}

.col p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    width: 40vw;
}

#greenText{
    background: #064d35;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    font-weight: 600;
}

#redText{
    background: #c3073f;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    font-weight: 600;
}

.close{
    margin-bottom: 0;
}

.close h3{
    font-size: 30px;
    font-style: bold;
    position: absolute;
    top: -1.9rem;
    left: 0rem;
    cursor: pointer;
    background-color:#c3073f;
    padding: 0rem .5rem;
}


/*             text positions               */

#bahubali{
    position: absolute;
    left: 4rem;
    top: 16rem;
}

#october{
    position: absolute;
    left: 10rem;
    top: 24rem;
}

#lagaan{
    position: absolute;
    left: 16rem;
    top: 16rem;
}

#ludo{
    position: absolute;
    left: 23rem;
    top: 24rem;
}

#yuva{
    position: absolute;
    left: 27rem;
    top: 16rem;
}

#welcome{
    position:absolute;
    left: 33rem;
    top: 24rem;
}

#om{
    position: absolute;
    left: 39rem;
    top: 16rem;
}

#omg{
    position: absolute;
    left: 47rem;
    top: 24rem;
}

#don{
    position: absolute;
    left: 58rem;
    top: 16rem;
}


@media screen and (max-width:1000px) {

    .homepage h1{
        letter-spacing: 0.2rem;
    }

    .container h2{
        font-size: 3.5vw;
    }

    .rightPage{
        width: 60vw;
    }

    .leftPage{
        width: 40vw;
    }

    .challengeSection input::placeholder{
        font-size: 16px;
    }

    /*Main...........*/
    .box{
        height: 12vh;
    }

    
}

@media screen and (max-width:754px) {

    .container h2{
        font-size: 4.5vw;
    }

    .challengeSection input{
        width: 52vw;
    }

    .challengeSection input::placeholder{
        font-size: 14px;
    }

    .row img{
        height: 7vh;
    }

    .box{
        height: 12vh !important;
        width: 10vw !important;
    }
    .history h1{
        font-size: 6vw;
    }

    .usedWords{
        font-size: 5.5vw;
        width: 40vw;
    }

    .block-container{
        gap: 2vw !important;
    }
    
    .chances h1{
        font-size: 9vw !important;
    }

    .userInput h1{
        font-size: 9vw !important;
    }

    .userInput{
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width:424px) {

    body{
        overflow-x: hidden;
    }

    .main{
        gap: 8rem;
    }

    .homepage{
        flex-direction: column;
    }

    .rightPage h1{
        font-size: 11vw;
    }
    
    .leftPage{
        width: 100%;
        margin-top: -10rem
    }

    .container{
        padding: 1.5rem 0rem;
        width:70%;
    }

    .container h2{
        font-size: 7vw;
    }

    #play{
        text-align: left;
    }

    .col p{
        font-size: 12px;
    }

    .row{
        gap: 1rem;
    }

    .ruleSection{
        width: auto;
        padding: 1.5rem;
    }

    .close h3{
        font-size: 4vw;
        top: -1rem;
    }

    #tag{
        display: none;
    }

    .box{
        height: 5vh !important;
        width: 10vw !important;
    }

    .chances{
        width: 100%;
    }

    .block-container{
        gap: 2vw !important;
    }

    .chances h1{
        font-size: 9vw !important;
    }

    .userInput{
        width: 93vw;
    }

    .userInput h1{
        font-size: 9vw !important;
    }

    .history h1{
        font-size: 6vw;
    }

    .usedWords{
        width: 40vw;
    }

    .word-block{
        justify-content: start;
    }

    .userInput{
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .challengeSection input{
        font-size: 3vw;
    }

}